<div class="itemlistwrap swiper-container swiper_collection">
				<ul class="itemlist_ul swiper-wrapper">
				<li class="swiper-slide wow fadeInLeft animated">
						<a href="#">
							<div class="itemlist_hover_wrap">
								<div class="automatic-img_02 img"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/item1.png?v=1632059738" alt="Rapid Test Reader" style="width: 100%; height: 141px; margin-top: 0px;"></div>
								<div class="itemlist_hover">
									<div class="listhover-inner">
										<div class="itemlist_hover-icon img img-size"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/icon-8.png?v=1632060265">
										</div>
									</div>
								</div>
							</div>
							<h2 class="itemlist_h2 one-txt-cut">Rapid Test Reader</h2>
							<div class="itemlist_subtitle">Quantilitative/qualitative test. More accurate.</div>
						</a>
					</li>
					
					<li class="swiper-slide wow fadeInLeft animated">
						<a href="#">
							<div class="itemlist_hover_wrap">
								<div class="automatic-img_02 img"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/item2.png?v=1632059817" alt="POCT Meters" style="width: 100%; height: 141px; margin-top: 0px;"></div>
								<div class="itemlist_hover">
									<div class="listhover-inner">
										<div class="itemlist_hover-icon img img-size"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/icon-8.png?v=1632060265">
										</div>
									</div>
								</div>
							</div>
							<h2 class="itemlist_h2 one-txt-cut">POCT Meters</h2>
							<div class="itemlist_subtitle">Take care of your health.</div>
						</a>
					</li>
					
					<li class="swiper-slide wow fadeInRight animated">
						<a href="#">
							<div class="itemlist_hover_wrap">
								<div class="automatic-img_02 img"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/item3.png?v=1632059858" alt="Drug Of Abuse Test" style="width: 100%; height: 141px; margin-top: 0px;"></div>
								<div class="itemlist_hover">
									<div class="listhover-inner">
										<div class="itemlist_hover-icon img img-size"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/icon-8.png?v=1632060265">
										</div>
									</div>
								</div>
							</div>
							<h2 class="itemlist_h2 one-txt-cut">Drug Of Abuse Test</h2>
							<div class="itemlist_subtitle">Rapid and accurate. More than 60 DOA urine test available. Reliable sensitivity and specificity.</div>
						</a>
					</li>
					
					<li class="swiper-slide wow fadeInRight animated">
						<a href="#">
							<div class="itemlist_hover_wrap">
								<div class="automatic-img_02 img"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/item4.png?v=1632059973" alt="Infectious Diseases" style="width: 100%; height: 141px; margin-top: 0px;"></div>
								<div class="itemlist_hover">
									<div class="listhover-inner">
										<div class="itemlist_hover-icon img img-size"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/icon-8.png?v=1632060265">
										</div>
									</div>
								</div>
							</div>
							<h2 class="itemlist_h2 one-txt-cut">Infectious Diseases</h2>
							<div class="itemlist_subtitle">Comprehensive solution for infectious disease testing.</div>
						</a>
					</li>
					
					<li class="swiper-slide wow fadeInRight animated">
						<a href="#">
							<div class="itemlist_hover_wrap">
								<div class="automatic-img_02 img"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/item5.png?v=1632059991" alt="Fertility Test" style="width: 100%; height: 141px; margin-top: 0px;"></div>
								<div class="itemlist_hover">
									<div class="listhover-inner">
										<div class="itemlist_hover-icon img img-size"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/icon-8.png?v=1632060265">
										</div>
									</div>
								</div>
							</div>
							<h2 class="itemlist_h2 one-txt-cut">Fertility Test</h2>
							<div class="itemlist_subtitle">Fertility test employ setected anti-hcg antibodies to deliver superior results.</div>
						</a>
					</li>
					
				</ul><div class="swiper-scrollbar"></div>
			</div>
			
			
			<style>
            .itemlistwrap{width:100%;max-width:1213px;position: relative;}
			.itemlist_ul{display:flex;margin:0 auto;justify-content:space-between;background:white;}
			.itemlist_ul li{width:180px;list-style:none;}
              .itemlist_ul li a{text-decoration: none;}
             .itemlist_hover { position: absolute; left: 0; bottom: -100%; width: 141px; height: 141px; background-color: rgba(0, 0, 0, 0.40); transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }
.itemlist_hover-icon { width: 50px; height: 50px; }
.itemlist_ul li:hover .itemlist_hover { bottom: 0px; }
.itemlist_hover_wrap{position:relative;
    width: 141px;
    height: 141px;
    border-radius: 100%;
    border: 5px solid #b3b3b3;overflow: hidden;
}       
.automatic-img_02{width: 100%;
    height: 100%;
}            
.listhover-inner{display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.itemlist_subtitle{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;}              


.swiper-slide {
        width: 41%;
      }

      .swiper-slide:nth-child(2n) {
        width: 41%;
      }

      .swiper-slide:nth-child(3n) {
        width: 41%;
      }

</style>
<script>
 var swiper2 = new Swiper(".swiper_collection", {
slidesPerView: "auto",  
spaceBetween: 20,
        centeredSlides: false,       
        grabCursor: true,
        keyboard: {
          enabled: true,
        },
        breakpoints: {
          769: {
            slidesPerView: 5,
            spaceBetween: 16,
            slidesPerGroup: 2,
          },
        }, 
    scrollbar: {
         el: ".swiper-scrollbar",
         draggable: true,
         hide:true,
       },
      });   
</script>


{% schema %}
  {
    "name": "Home collection list",
    "settings": [],
 "presets": [
    {
      "name": "Home collection list"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
