<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/covid19test1.jpg?v=1632051169"></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/covid19test2.png?v=1632051229"></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0596/4100/4211/files/covid19test2.png?v=1632051229"></div>
    </div>
<div class="swiper-pagination"></div>

</div>



<script>        
  var mySwiper = new Swiper ('.swiper-container', {
  
    loop: true, // 循环模式选项
    pagination: {
      el: '.swiper-pagination',
    },

  })        
  </script>
{% schema %}
  {
    "name": "Home slider",
    "settings": [],
 "presets": [
    {
      "name": "home slider"
    }
  ]
  }
{% endschema %}

{% stylesheet %}

.swiper-slide img{width:100%;}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
